<!DOCTYPE html>
<html lang="es" ng-app="MainModule">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Mis Notas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="./css/login.css">
    <link rel="stylesheet" href="./css/estiloModal.css">
    <script src="./javascript/inicializacionLogin.js"></script>
</head>
<body ng-controller="controladorIndex as indexC">
    <div class="limiter">
        <div class="loginContainer">
            <div class="loginWrapper">
                <form class="loginForm">
                    <div class="icon">
                        <img id="imgLogo" src="./recursos/mis_notas2.png" alt="Mis Notas logo"/>
                    </div>
                    <input type="text" ng-model="indexC.txtNombre" ng-show="indexC.controlSwitch" placeholder="Nombre*">
                    <input type="text" ng-model="indexC.txtApellido" ng-show="indexC.controlSwitch" placeholder="Apellido">
                    <input type="text" ng-model="indexC.txtUsername"  placeholder="Nombre de Usuario*">
                    <input type="password" ng-model="indexC.txtPassword" placeholder="Contraseña*">
                    <input type="password" ng-model="indexC.txtConfirmPassword" ng-show="indexC.controlSwitch" placeholder="Confirmar Contraseña*">
                    <p ng-bind="indexC.mensajeError"></p>
                    <input type="submit" value="{{indexC.btnPrincipal}}" ng-click="indexC.login($event)" class="btn boton-principal"></input>
                </form>
                <div id="formFooter">
                    <span ng-bind="indexC.mensajeFooter"></span> <a ng-click="indexC.ngMostrarRegistro()" class="lelink" id="changeLink">¡Pulsa acá!</a> 
                </div>
            </div>
        </div>
    </div>
    <script src="./javascript/index.js"></script>
</body>
</html>