<!DOCTYPE html>
<html lang="es" ng-app="ModuloPrincipal">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MisNotas</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="./css/principal.css">
    <link rel="stylesheet" href="./css/estiloModal.css">
    <script src="./javascript/principalChequeo.js"></script>
</head>
<body ng-controller="ControladorPrincipal as ctrl">
    <div class="container-fluid">
        <div class="row barra-caja-externa">
            <div class="col-md-6">
                <img src="./recursos/mis_notas2.png" alt="logo" class="barra-icono">
            </div>
            <div class="col-md-6 text-sm-center text-md-right">
                <span ng-bind="ctrl.nombreUsuario" class="barra-caja-usuario"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 align-middle text-center">
                <button class="btn boton-principal" ng-click="ctrl.crearNota()">+ Crear</button>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row" ng-repeat="fila in ctrl.notasPorFilas">
            <div class="col-md-3" ng-repeat="nota in fila">
                <directiva-nota informacion="nota" />
            </div>
        </div>
    </div>
    <h2 id="temp-token" ng-show="ctrl.empty">Hey! Hay que <b>crear</b> algunas notas</h2>
    <script src="./javascript/principal.js"></script>
</body>
</html>