
/* BASIC */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    font-family: sans-serif;
    height: 100%;
}

a, a:visited {
    color: #0056b3 !important;
    display:inline-block;
    font-weight: 400;
    cursor: pointer;
}

/* STRUCTURE */


/* Alineacion del texto del boton
Padding del div es demasiado en ciertas resoluciones
centrado del icono 
color de error en rojo
*/

.formWrapper {
    margin: 0 auto;
    width: 100%;
}


.loginContainer{
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #93b7be;
    box-shadow: inset 0px -45px 40px -27px rgba(0,0,0,0.75);  
}

.loginWrapper{
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 1.8em 1.8em 1.2em 1.8em;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.loginForm{
    width: 100%;
}

#formFooter {
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
    background-color: #0066AA;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    width: 85%;
    -webkit-box-shadow: 0 10px 20px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 20px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 50px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}



input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #0066FF;
    cursor: pointer;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 0.8em;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder, input[type=password]:placeholder {
    color: #cccccc;
}

/* OTHERS */

*:focus {
    outline: none;
} 

.icon {
    text-align: center;
    margin: 10%;
}

#imgLogo{
    width: 90%;
}

/* RESPONSIVE */
